<div class="row">
	<div class="col-sm-12">
		<h4 class="page-title">Informações</h4>
		<ol class="breadcrumb">
			<li>
				<a href="#">Home</a>
			</li> 
			<li class="active">
				Informações
			</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="">
			<div class="card-box">
				<br>
				<div class="row">
					<div class="col-sm-12">
						<h4 class="m-t-0 header-title"><b>Quem somos</b></h4>
						<p class="text-muted m-b-15 font-13">
						</p>
						<p><span class="dropcap text-primary">A</span> InnLeaders é uma empresa de consultoria e treinamento que inova constantemente nos seus produtos e serviços para contribuir para o desenvolvimento e crescimento de seus clientes. Acreditamos acima de tudo que a Gestão pode mudar o mundo! Com base nessa crença nos dedicamos ao máximo para entregar o melhor a todos nossos parceiros de negócio.</p>
					</div> 
				</div>
				<br><br>
				<div class="row">
					<div class="col-sm-6">
						<h4 class="m-t-0 header-title"><b>Missão</b></h4>
						<p class="text-muted m-b-15 font-13">
						</p>
						<p>AJUDAR AS EMPRESAS A ALCANÇAREM SEUS OBJETIVOS ATRAVÉS DO ESTADO DA ARTE DA GESTÃO.</p>
						<h4 class="m-t-0 header-title"><b>Visão</b></h4>
						<p class="text-muted m-b-15 font-13">
						</p>
						<p>SER UMA EMPRESA LÍDER E INOVADORA.</p>
						<h4 class="m-t-0 header-title"><b>Valores</b></h4>
						<p class="text-muted m-b-15 font-13">
						</p>
						<p>LIDERANÇA, INOVAÇÃO, DESIGN, RESULTADO e ÉTICA</p>
					</div>
					<div class="col-sm-6">
						<h4 class="m-t-0 header-title"><b>Contato</b></h4>
						<br>
						<ul class="social-links list-inline m-0">
	            <li>
	                <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="facebook.com"><i class="fa fa-facebook"></i></a>   www.facebook.com/INNLEADERS
	            </li>
   					</ul>
   					<br>
   					<ul class="social-links list-inline m-0">
	            <li>
	                <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-twitter"></i></a> www.twitter.com/INNLEADERS
	            </li>
   					</ul>
   					<br>
   					<ul class="social-links list-inline m-0">
	            <li>
	                <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-mail"></i></a> contato@INNLEADERS.com
	            </li>
   					</ul> 
					</div>
				</div>
			</div>
		</div>
	</div>
</div>